services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 2G
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - 3000:3000
    environment:
      DATABASE_URI: postgresql://norse-ng:norse-ng@postgres:5432/norse-ng
      CACHE_REDIS_URI: redis://:norse-ng@redis:6379

  postgres:
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_USER: norse-ng
      POSTGRES_PASSWORD: norse-ng
      POSTGRES_DB: norse-ng
    container_name: norse-postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U norse-ng"]
      interval: 5s
      timeout: 3s
      retries: 5

  minio:
    image: bitnamilegacy/minio:2025.6.13
    restart: always
    environment:
      MINIO_ROOT_USER: norse-ng
      MINIO_ROOT_PASSWORD: norse-ng
      MINIO_DEFAULT_BUCKETS: norse-ng
      MINIO_BROWSER: "on"
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - minio_data:/bitnami/minio/data
    healthcheck:
      test:
        ["CMD", "curl", "--fail", "http://localhost:9000/minio/health/ready"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7.4
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    command: redis-server --appendonly yes --requirepass norse-ng

  prometheus:
    image: prom/prometheus:v3.9.1
    restart: always
    ports:
      - 9090:9090
    environment:
      - PROMETHEUS_TOKEN=my-super-secure-token
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"
    depends_on:
      - app

  grafana:
    image: grafana/12.3
    restart: always
    ports:
      - 3001:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  postgres_data:
  minio_data:
  redis_data:
  prometheus_data:
  grafana_data:
